@import "tailwindcss";

html, body, #root {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
  color: #18181b;
  transition: background 0.3s, color 0.3s;
  scrollbar-width: none;
}

.dark body {
  background: #18181b;
  color: #f5f5f5;
}

#root {
  min-height: 100vh;
  width: 100vw;
}

input[type="text"], input[type="file"], textarea {
  border-radius: 0.5rem;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border-color: #e879f9 !important;
  box-shadow: 0 0 0 2px #f9a8d4cc;
}

input[type="file"] {
  padding: 0;
  background: none;
  border: none;
}

main {
  scrollbar-width: thin;
  scrollbar-color: #fbc2eb55 transparent;
}

main::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
main::-webkit-scrollbar-thumb {
  background: #fbc2eb55;
  border-radius: 10px;
}

body::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}

button, label, select {
  outline: none;
  font-family: inherit;
  transition: background 0.2s, box-shadow 0.2s, color 0.2s;
  border-radius: 0.5rem;
}

/* Placeholder visible en dark */
::placeholder {
  color: #cbd5e1;
  opacity: 1;
}

.dark ::placeholder {
  color: #a3a3a3;
  opacity: 1;
}
